<div class="flex-container" fxLayout="row">
    <div class="flex-item content-center" fxFlex="rowFxFlex" style="padding: 0px !important;">
      <div class="flex-item content-center" fxFlex="25%" style="padding-top: 0px !important;padding-bottom: 0px !important;">
        <form>
          <mat-form-field>
            <input matInput placeholder="桌号" type="number">
          </mat-form-field>
        </form>
      </div>
      <div class="flex-item content-center" fxFlex="25%" style="padding-top: 0px !important;padding-bottom: 0px !important;">
        <form>
          <mat-form-field>
            <input matInput placeholder="人数" type="number">
          </mat-form-field>
        </form>
      </div>
      <div class="flex-item content-center" fxFlex="25%" style="padding-top: 0px !important;padding-bottom: 0px !important;">
        <h2>{{billCode}}</h2>
      </div>
    </div>
</div>
<mat-dialog-content>
  <mat-list>
    <mat-list-item class="billContent">企业名</mat-list-item>
    <mat-list-item class="billContent" *ngIf="type === ''">企业地址：门牌号/地址</mat-list-item>
    <mat-list-item class="billContent">邮编/城市</mat-list-item>
    <mat-list-item class="billContent">企业电话</mat-list-item>
    <mat-list-item class="billContent">企业siren</mat-list-item>
    <mat-list-item class="billContent" *ngIf="type==='L'">客户姓名</mat-list-item>
    <mat-list-item class="billContent" *ngIf="type==='L'">客户联系电话</mat-list-item>
    <mat-list-item class="billContent">时间</mat-list-item>
    <mat-list-item class="billContent">发票号</mat-list-item>
  </mat-list>
  <mat-card style="padding: 0px !important;width: 100%!important;min-width: 0px !important;">
    <mat-table #table [dataSource]="dataSource" style="min-width: 0px !important;">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Quantity">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.Quantity}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="produit">
        <mat-header-cell *matHeaderCellDef>produit</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.produit}}</mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>price</mat-header-cell>
        <mat-cell *matCellDef="let element" >{{element.price}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
  <div class="flex-container" fxLayout="row">
    <div class="flex-item content-center" fxFlex="50%" style="padding: 0px !important;">
      <h2>TOTAL...</h2>
      <span>HT</span><br>
      <span>TVA</span>
    </div>
    <div class="flex-item content-center" fxFlex="50%" style="padding: 0px !important;text-align: right;">
      <h2>63.30</h2>
      <span>57.55</span><br>
      <span>10</span>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="button-group">
    <button mat-raised-button class="dangerButton">打印账单</button>
    <button mat-raised-button *ngIf="type === ''">减价</button>
  </div>
</mat-dialog-actions>
